<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Привет, @context.User.Identity?.Name!</a>
        <form action="/logout">
            <button type="submit" class="nav-link btn btn-link">Выйти</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="register">Регистрация</a>
        <a href="login">Войти</a>
    </NotAuthorized>
</AuthorizeView>
