@page "/login"
@inherits LoginModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Login</h1>

        <EditForm Model="@ViewModel" OnValidSubmit="LoginAsync">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <p>
                <label>@ErrorMessage</label>
            </p>



            <label for="username">Username</label>
            <InputText id="username" @bind-Value="@ViewModel.Username" class="form-control"/>
            
            <label for="password">Password</label>
            <InputText id="password" @bind-Value="@ViewModel.Password" class="form-control" />

            <p class="my-4">
                <button type="submit" class="btn btn-primary">Log in</button>
            </p>
        </EditForm>


    </div>
</div>


@code {

}
