@page "/register"
@inherits RegisterModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Login</h1>

        <EditForm Model="@ViewModel" OnValidSubmit="RegisterAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <label for="username">Username</label>
            <InputText id="username" @bind-Value="@ViewModel.Username" class="form-control" />

            <label for="password">Password</label>
            <InputText id="password" @bind-Value="@ViewModel.Password" class="form-control" />

            <label for="confirmPassword">Confirm password</label>
            <InputText id="confirmPassword" @bind-Value="@ViewModel.ConfirmPassword" class="form-control" />

            <p class="my-4">
                <button type="submit" class="btn btn-primary">Register</button>
            </p>
        </EditForm>


    </div>
</div>

@code {

}
