@page "/tourists"
@attribute [Authorize]

<h3>Туристы</h3>

<table class="table">
    <tr>
        <td>ФИО</td>
        <td>Email</td>
        <td>Номер телефона</td>
    </tr>

    @foreach (var tourist in TouristsList)
    {
        <tr>
            <td>@tourist.ToString()</td>
            <td>@tourist.Email</td>
            <td>@tourist.PhoneNumber</td>
        </tr>
    }
</table>


@code {
    public List<Tourist> TouristsList = DataAccess.GetTourists();
}
